.header{
    padding-bottom: 15px;
    background-color: white;
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: #adadad;
    border-width: 1px;
    border-style: solid;
}

.body{
    background-color: white;
    margin-top:20px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #adadad;
    border-width: 1px;
    border-style: solid;
    
}
.scrollable {
    height: 80%; /* or any value */
    overflow-y: auto;
}
.h{
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: 500;
}
.column{
    width: 46.5%;
    margin-left: 1%;
}
.center{
    margin-left: 4%;
}
.dotted1{
    border-bottom: dotted 2px #0275d8;
}
.table1{
    border-collapse:collapse;/*This property collapses borders together*/
}
.columnwidth{
    width: 65%;
}
.row1{
    display: flex;
}
.footer{
    padding-bottom: 15px;
    background-color: white;
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #adadad;
    border-width: 1px;
    border-style: solid;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 10%;
    width: 90%;
    text-align: center;
}
.form{
    background-color: white;
    margin-left: 5%;
    margin-right:  5%;
    margin-top:20px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #adadad;
    border-width: 1px;
    border-style: solid;
}
.alertsuccess{
    display: none;
    color: green;
    font-size: 20px;
    font-weight: 600;
    align-content: center;
}
.alertdanger{
    display: none;
    color: red;
    font-size: 20px;
    font-weight: 600;
    align-content: center;
}