<template>
<div class="modal fade" id="comments" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="container">
          <h3>{{ item.id }} - {{ item.task_name }}</h3>
             <p style="margin-left: 2%"> {{ item.task_desc }}</p>
          </div>
          <br/>
          <div class="form-group ">
              <input id="comment_ref" class="form-control comment" placeholder="add comment..." >
          </div>
          <div class="container col-10 scrollable">
          <h4>Previos Comments</h4>
          <br>
          <div  v-for="(comment, index) in item.comments" v-bind:key="index">
            {{ comment.comment }}
            <br><br>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"   @click="add_comment"  class="btn btn-primary" >Add Comment</button>
          <button type="button" class="btn btn-default" ref="closemodal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiObject from '../api/api.js'

export default {
  name: 'Modal',
  props: ['item', 'get_tasks', 'type'],
  data () {
    // var todayDate = new Date().toISOString().slice(0, 10)
    return {
      errors: []
    }
  },
  methods: {
    add_comment: function () {
      var comment = document.getElementById('comment_ref').value
      document.getElementById('comment_ref').value = ''
      var validate = this.checkForm(comment)
      if (validate) {
        var addComment = apiObject.add_comment(this.$http, { comment: comment, task_id: this.item.id })
        addComment.then(function (response) {
          const elem = this.$refs.closemodal
          elem.click()
          this.get_tasks()
        })
      }
    },
    checkForm: function (comment) {
      return comment.length > 0
    }
  }
}
</script>

<style>
.scrollable{
  overflow-y: scroll;
  height: 200px;
}
.comment{
  border-radius: 20px;
  margin-left: 10%;
  width: 75%;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;
  margin: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
  margin: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(224, 224, 224);
  border-radius: 50px;
  margin: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 128, 128);
  border-radius: 50px;
  margin: 10px;
}
</style>
