<template>
<div class="container">
<Header/>
<Modal v-bind:item="item" v-bind:get_tasks="get_tasks" v-bind:type="type" />
<Comments v-bind:item="item" v-bind:get_tasks="get_tasks" />
<div class="row">
  <div class="body  column scrollable">
          <h4 class="mb-4">Group A</h4>
          <div v-drag-and-drop:options="options" class="drag-wrapper">
            <table class="table">
                <thead>
                    <tr>
                    <td class="">
                    </td>
                    <td></td>
                    <td></td>
                     <td class="font" style="width: 20%">
                        Date
                    </td>
                    <td class="font" style="width: 10%">
                        Status
                    </td>
                </tr>
                </thead>
                <tbody v-if="tasks" >
           <draggable   style="width: 160%;" v-model="tasks[1]" :options="{group:'item'}" @end="resort">
                  <tr class="item editrow_class" v-for="(task, index) in tasks[1]" v-bind:key="index">
                    <td class="font title_width"><a @click="changeIndex(index,1)" data-toggle="modal" data-target="#myModal">{{ task.sort + 1 }}- {{ task.task_name }}</a></td>
                    <td class="font"><a href='#' @click="changeIndex(index,1)" data-toggle="modal" data-target="#comments"><i class="fa fa-edit hoverShow1"/></a></td>
                    <td class="font"><a href='#' @click="delete_task(task.id)"><i class="fa fa-trash-o hoverShow1"></i></a></td>
                    <td class="font date_width" style="width: 28%">{{ task.date }}</td>
                    <td class="font " style="width: 10%" :class=task.status >{{ task.status }}</td>
                  </tr>
           </draggable>
                </tbody>
            </table>
          </div>
        <a href="#" @click="changeIndex(null)"  data-toggle="modal" data-target="#myModal"><p><i class="fa fa-plus-square-o"></i>  New Task</p></a>
  </div>
  <div class="body column scrollable">
    <h4 class="mb-4">Group B</h4>
            <table class="table">
                <thead>
                    <tr>
                    <td class="">
                    </td>
                    <td class="font"></td>
                    <td class="font"></td>
                    <td class="font" style="width: 20%">
                        Date
                    </td>
                    <td class="font" style="width: 10%">
                        Status
                    </td>
                </tr>
                </thead>
                <tbody v-if="tasks">
           <draggable style="width: 160%;" v-model="tasks[2]" :options="{group:'item'}" @end="resort">
                   <tr class='item editrow_class' v-for="(task, index) in tasks[2]" v-bind:key="index">
                    <td class="font title_width"><a @click="changeIndex(index,2)" data-toggle="modal" data-target="#myModal">{{ task.sort + 1 }}- {{ task.task_name }}</a></td>
                    <td><a class="font" href='#' @click="changeIndex(index,2)" data-toggle="modal" data-target="#comments"><i class="hoverShow1 fa fa-edit"/></a></td>
                    <td><a class="font" href='#' @click="delete_task(task.id)"><i class="hoverShow1 fa fa-trash"></i></a></td>
                    <td class="date_width font"  style="width: 28%">{{ task.date }}</td>
                    <td class="font" style="width: 10%" :class=task.status >{{ task.status }}</td>
                  </tr>
           </draggable>
                </tbody>
            </table>
        <a href="#" @click="changeIndex(null)" data-toggle="modal" data-target="#myModal"><p><i class="fa fa-plus-square-o"></i>  New Task</p></a>
    </div>
    <Footer/>
  </div>
  </div>
</template>
<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import Modal from '@/components/Modal'
import Comments from '@/components/Comments'
import draggable from 'vuedraggable'
import apiObject from '../api/api.js'
import Echo from 'laravel-echo'

window.Pusher = require('pusher-js')

window.Echo = new Echo({
  broadcaster: 'pusher',
  key: 'b4659ed2d84a5d7b50e6',
  cluster: 'eu',
  encrypted: true
})
export default {
  name: 'Dashboard',
  mounted () {
    this.$Progress.finish()
    this.listen()
  },
  data () {
    var todayDate = new Date().toISOString().slice(0, 10)
    var tasks = this.get_tasks()
    return {
      tasks: tasks,
      type: '',
      item: {
        task_name: '',
        task_desc: '',
        date: todayDate,
        status: 1,
        group_id: 1
      },
      options: {
        dropzoneSelector: 'tr',
        draggableSelector: 'tr',
        excludeOlderBrowsers: true,
        multipleDropzonesItemsDraggingEnabled: true,
        showDropzoneAreas: true,
        onDrop: function (event) { document.getElementById('app').appendChild(this.$el) },
        onDragstart: function (event) {},
        onDragend: function (event) {}
      }
    }
  },
  components: {
    'Header': Header,
    'Footer': Footer,
    'Modal': Modal,
    'draggable': draggable,
    'Comments': Comments
  },
  methods: {
    changeIndex (index, groupId) {
      var todayDate = new Date().toISOString().slice(0, 10)
      if (index !== null) {
        this.item = this.tasks[groupId][index]
        this.type = 'edit'
      } else {
        this.type = 'add'
        this.item = {
          task_name: '',
          task_desc: '',
          date: todayDate,
          status: '',
          group_id: 1
        }
      }
    },
    get_tasks () {
      this.$Progress.start()
      var tasks = apiObject.get_tasks(this.$http)
      tasks.then(function (response) {
        console.log(response.body)
        this.tasks = response.body
        this.$Progress.finish()
      })
    },
    delete_task ($id) {
      var result = confirm('are you sure to delete this task')
      if (result) {
        var deleteTask = apiObject.delete_task(this.$http, $id)
        deleteTask.then(function (response) {
          this.get_tasks()
        })
      }
    },
    resort () {
      this.$Progress.start()
      apiObject.resort_tasks(this.$http, this.tasks).then(function (response) {
        // console.log(response.body)
        this.$Progress.finish()
      })
    },
    listen () {
      window.Echo.channel('update-tasks').listen('UpdateTasks', () => {
        this.get_tasks()
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.column{
    width: 48%;
    margin-left: 2%;
}
.body{
    background-color: white;
    margin-top:20px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #adadad;
    border-width: 1px;
    border-style: solid;

}
.scrollable{
  overflow-y: scroll;
  height: 400px;
}
.table1{
    border-collapse:collapse;/*This property collapses borders together*/
}
.columnwidth{
    width: 65%;
}
.font{
  font-size: small;
}
.pending{
color: rgb(199, 199, 10);
}
.done{
color: green;
}
.inprogress{
  color: orangered;
}
.table{
  border-bottom: 1px dashed #cec5c5;
  border-top: 1px dashed #cec5c5;
}
.editrow_class .hoverShow1 {
 display: none;
}
.editrow_class:hover .hoverShow1 {
 display: block;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;
  margin: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
  margin: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(224, 224, 224);
  border-radius: 50px;
  margin: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 128, 128);
  border-radius: 50px;
  margin: 10px;
}
.title_width{
  width: 56%;
}
.date_width{
  width: 28;
}
.status_width {
  width: 10;
}
</style>
