<template>

    <div class="footer">
       <p>
            Copyright @ 2018 Black Squares Solutions.
        </p>
    </div>

</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.footer{
    position: absolute;
    width:80%;
    height:80px;
    background: white;
    bottom:0px;
    right:25%;
    left:12%;
    padding-top: 20px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #adadad;
    border-width: 1px;
    border-style: solid;
}
</style>
