<template>

    <div class="container header">
     <img  src="../assets/images/blacksquarelogo.png">
    </div>

</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header{
    margin-top: -9px;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: #adadad;
    border-width: 1px;
    border-style: solid;
}
</style>
