<template>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        <p class="alert alert-danger" v-if="errors['task_name']">{{ errors['task_name'] }}</p>
        <input type="text" class="form-control mb-2" placeholder="task_name" v-model="item.task_name" />

        <p class="alert alert-danger" v-if="errors['task_desc']">{{ errors['task_desc'] }}</p>
        <input type="text" class="form-control mb-2" placeholder="task_desc" v-model="item.task_desc" />

        <p class="alert alert-danger" v-if="errors['date']">{{ errors['date'] }}</p>
         <datepicker placeholder="starting date" class="mb-2" v-model="item.date"></datepicker>

        <p class="alert alert-danger" v-if="errors['status']">{{ errors['status'] }}</p>
         <select class="form-control mb-2" v-model="item.status">
          <option value="">select status</option>
          <option value="pending">pending</option>
          <option value="inprogress">inprogress</option>
          <option value="done">done</option>
        </select>

        <p class="alert alert-danger" v-if="errors['group_id']">{{ errors['group_id'] }}</p>
        <select class="form-control mb-2" v-model="item.group_id">
          <option value="">select group</option>
          <option value="1">Group A</option>
          <option value="2">Group B</option>
        </select>
        </div>

        <div class="modal-footer">
          <button type="button" v-if="type == 'add'"  @click="add_task"  class="btn btn-primary" >Submit</button>
          <button type="button" v-if="type == 'edit'"  @click="edit_task" class="btn btn-primary" >Submit</button>
          <button type="button" class="btn btn-default" ref="closemodal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiObject from '../api/api.js'
import datepicker from 'vue-date'
export default {
  name: 'Modal',
  props: ['item', 'get_tasks', 'type'],
  data () {
    // var todayDate = new Date().toISOString().slice(0, 10)
    return {
      task: this.item,
      errors: []
    }
  },
  components: {datepicker},
  methods: {
    add_task () {
      var validate = this.check_form()
      this.$Progress.start()
      if (validate) {
        apiObject.add_task(this.$http, this.item).then(function (response) {
          const elem = this.$refs.closemodal
          elem.click()
          this.get_tasks()
          // this.reset()
        }, function (response) {
          this.errors = response.body.errors
        })
      }
    },
    edit_task () {
      var validate = this.check_form()
      if (validate) {
        this.$Progress.start()
        apiObject.edit_task(this.$http, this.item).then(function (response) {
          const elem = this.$refs.closemodal
          elem.click()
          this.get_tasks()
        }, function (response) {
          this.errors = response.data
        })
      }
    },
    check_form: function () {
      this.errors = []
      if (!this.item.task_name) {
        this.errors['task_name'] = 'task_name required.'
      }
      if (!this.item.date) {
        this.errors['date'] = 'Starting Date required.'
      }
      if (!this.item.task_desc) {
        this.errors['task_desc'] = 'description required.'
      }
      if (!this.item.status) {
        this.errors['status'] = 'task status required.'
      }
      if (!this.item.group_id) {
        this.errors['group_id'] = 'please select group'
      }
      this.$Progress.finish()
      return !this.errors['task_name'] & !this.errors['date'] & !this.errors['task_desc'] & !this.errors['status'] & !this.errors['group_id']
    },
    reset: function () {
      var todayDate = new Date().toISOString().slice(0, 10)
      this.item = {
        task_name: '',
        task_desc: '',
        status: '',
        group_id: '',
        date: todayDate
      }
      this.$Progress.finish()
    }
  }
}
</script>

<style>

</style>
